Source: hiren-clipboard
Section: utils
Priority: optional
Maintainer: Ashutosh Das <git.pyprism@gmail.com>
Build-Depends: debhelper (>= 9), qtbase5-dev, qtbase5-dev-tools, qt5-qmake
Standards-Version: 3.9.6
Homepage: https://github.com/pyprism

Package: packagename
Architecture: any
Depends: libqt5gui5, libqt5widgets5, libqt5core5a, ${misc:Depends}, ${shlibs:Depends}
Description: Hiren-Clipboard is a simple clipboard manager.
 It is based on Qt and C++.
 It is licensed under MIT.
